@CHARSET "UTF-8";

.iwf-table {
	width: 100% !important;
	border-spacing: 0;
	border-collapse: collapse;
}

.iwf-table th {
	font-weight: normal !important;
	padding-right: 5px;
	padding-top: 5px;
	vertical-align: top !important;
}

.iwf-table td {
	padding-right: 5px;
}

.iwf-table.iwf-table-th-left th {
	text-align: left !important;
}

.iwf-table.iwf-table-th-right th {
	text-align: right !important;
}

.iwf-table.iwf-table-th-center th {
	text-align: center !important;
}

.iwf-table.iwf-table-th-top th {
	vertical-align: top !important;
}

.iwf-table.iwf-table-th-middle th {
	vertical-align: middle !important;
}

.iwf-table.iwf-table-th-bottom th {
	vertical-align: bottom !important;
}

.iwf-table.iwf-table-td-left td {
	text-align: left !important;
}

.iwf-table.iwf-table-td-right td {
	text-align: right !important;
}

.iwf-table.iwf-table-td-center td {
	text-align: center !important;
}

.iwf-table.iwf-table-td-top td {
	vertical-align: top !important;
}

.iwf-table.iwf-table-td-middle td {
	vertical-align: middle !important;
}

.iwf-table.iwf-table-td-bottom td {
	vertical-align: bottom !important;
}

.iwf-table tr.iwf-table-row-left th,
.iwf-table tr.iwf-table-row-left td {
	text-align: left !important;
}

.iwf-table tr.iwf-table-row-center th,
.iwf-table tr.iwf-table-row-center td {
	text-align: center !important;
}

.iwf-table tr.iwf-table-row-right th,
.iwf-table tr.iwf-table-row-right td {
	text-align: right !important;
}

.iwf-table tr.iwf-table-row-top th,
.iwf-table tr.iwf-table-row-top td {
	vertical-align: top !important;
}

.iwf-table tr.iwf-table-row-middle th,
.iwf-table tr.iwf-table-row-middle td {
	vertical-align: middle !important;
}

.iwf-table tr.iwf-table-row-bottom th,
.iwf-table tr.iwf-table-row-bottom td {
	vertical-align: bottom !important;
}

.iwf-table th.iwf-table-cell-left,
.iwf-table td.iwf-table-cell-left {
	text-align: left !important;
}

.iwf-table th.iwf-table-cell-right,
.iwf-table td.iwf-table-cell-right {
	text-align: right !important;
}

.iwf-table th.iwf-table-cell-center,
.iwf-table td.iwf-table-cell-center {
	text-align: center !important;
}

.iwf-table th.iwf-table-cell-top,
.iwf-table td.iwf-table-cell-top {
	vertical-align: top !important;
}

.iwf-table th.iwf-table-cell-middle,
.iwf-table td.iwf-table-cell-middle {
	vertical-align: middle !important;
}

.iwf-table th.iwf-table-cell-bottom,
.iwf-table td.iwf-table-cell-bottom {
	vertical-align: bottom !important;
}

.form-table .iwf-table th,
.form-table .iwf-table td {
	padding: 5px 5px 0 !important;
	padding-left: 0px !important;
}

.form-table .iwf-table tr:first-child th,
.form-table .iwf-table tr:first-child td {
	padding-top: 0px !important;
}

.form-table {
	table-layout: fixed;
}

.placeholder {
	color: #bbb;
}

.iwf-preview {
	width: 100px;
	height: 100px;
	border: 1px solid #ddd;
	position: relative;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.iwf-preview-wrapper {
	height: 1%;
}

.iwf-preview-wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.iwf-preview-wrapper .iwf-preview {
	float: left;
	width: 100px;
	margin-right: -110px;
}

.iwf-preview-wrapper .iwf-media-form {
	float: right;
	width: 100%;
}

.iwf-preview-wrapper .iwf-media-form .iwf-media-form-inner {
	margin-left: 110px;
}

.iwf-preview-wrapper .iwf-media-form input[type="text"] {
	width: 97%
}

.CodeMirror {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	line-height: 1.33 !important;
}

.iwf-w10p {
	width: 10%;
}

.iwf-w15p {
	width: 15%;
}

.iwf-w20p {
	width: 20%;
}

.iwf-w25p {
	width: 25%;
}

.iwf-w30p {
	width: 30%;
}

.iwf-w33p {
	width: 33%;
}

.iwf-w35p {
	width: 35%;
}

.iwf-w40p {
	width: 40%;
}

.iwf-w45p {
	width: 45%;
}

.iwf-w50p {
	width: 50%;
}

.iwf-w55p {
	width: 55%;
}

.iwf-w60p {
	width: 60%;
}

.iwf-w65 {
	width: 65%;
}

.iwf-w66p {
	width: 66%;
}

.iwf-w70p {
	width: 70%;
}

.iwf-w75p {
	width: 75%;
}

.iwf-w80p {
	width: 80%;
}

.iwf-w85p {
	width: 85%;
}

.iwf-w90p {
	width: 90%;
}

.iwf-w100p {
	width: 100%;
}

input.iwf-w100p {
	width: 97%;
}

