.c-button {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  color: $white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}
