.p-hospital-introduction {
  background-color: $white;
  margin-top: 20px;
  padding: 35px 15px 15px 15px;

  &__list {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
  }

  &__list-item p {
    line-height: 1.74;
    text-align: center;
  }

  &__list-item + &__list-item {
    margin-top: 20px;
  }

  &__video {
    height: 360px;
    width: 640px;
  }

  &__video--large {
    height: 480px;
    width: 640px;
  }
}
