.p-hospital-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 840px;
  width: 100%;

  &__item {
    width: 240px;

    &:not(:nth-of-type(3n + 1)) {
      margin-left: 60px;
    }

    &:nth-of-type(n + 4) {
      margin-top: 40px;
    }
  }

  &__img {
    height: 178px;
  }

  &__text {
    line-height: 1.73;
    margin-top: 10px;
  }

  &__button-wrap {
    margin-top: 10px;
  }

  &__button {
    align-items: center;
    background-color: $green;
    border-radius: 5px;
    color: $white;
    display: flex;
    height: 44px;
    justify-content: center;
    width: 100%;

    &--disabled {
      background-color: $grey;
      pointer-events: none;
    }
  }
}
