.p-line {
  background-color: $white;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  padding: 15px;

  &__qr-code {
    border: 1px solid $green;
    margin: 0 auto;
    width: 230px;
  }

  &__text {
    line-height: 1.74;
    margin-top: 20px;
    text-align: center;
  }
}
