.p-news-sidebar {
  &__contents {
    background-color: $white;
    padding: 15px;
  }

  &__contents + &__contents {
    margin-top: 20px;
  }

  &__title {
    height: 75px;
    width: 230px;
  }

  &__list-item {
    height: 80px;
    a {
      align-items: center;
      display: flex;
      height: 100%;
      padding-left: 30px;
      width: 100%;
    }

    a:hover {
      color: $green;
      text-decoration: underline;
    }
  }

  &__list-item + &__list-item {
    border-top: 1px solid $lightGrey;
  }
}
