.p-pages-first-view {
  background-size: cover;
  height: 372px;
  position: relative;

  &--scholarship {
    background-image: url(./../../../images/02_scholarship/奨学金\　ファーストビュー.jpg);
    background-position: center -75px;
  }

  &--doctor {
    background-image: url(./../../../images/03_医師・医学生ページ/医師・医学生ファーストビュー.jpg);
    background-position: center -5px;
  }

  &--dentist {
    background-image: url(./../../../images/04_歯科医・歯科学生のページ/歯科・歯学生\　ファーストビュー.jpg);
    background-position: center -85px;
  }

  &__heading {
    font-family: Noto Serif JP;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.43;
    position: absolute;
  }

  &__heading--scholarship {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__heading--doctor {
    left: 30px;
    top: 50px;
  }

  &__heading--dentist {
    bottom: 30px;
    left: 30px;
  }
}
