.p-student-plan {
  background-color: $white;
  margin-top: 20px;
  padding: 20px 0 35px 0;

  &__button-wrap {
    margin-top: 40px;
  }

  &__button {
    align-items: center;
    background-color: $green;
    border-radius: 5px;
    color: $white;
    display: flex;
    height: 52px;
    justify-content: center;
    margin: 0 auto;
    width: 362px;
  }
}
