.p-scholarship-lead {
  margin-top: 30px;

  &__img {
    height: 250px;
    margin: 0 auto;
    width: 906px;

    img {
      object-fit: cover;
    }
  }

  &__text {
    line-height: 1.63;
    margin: 20px auto 0;
    width: 96%;
  }
}
