.p-student-plan {
  background-color: $white;
  margin-top: 20px;
  padding: 20px 0 35px 0;

  &__button-wrap {
    margin-top: 40px;
  }

  &__button {
    height: 52px;
    margin: 0 auto;
    width: 362px;
  }
}
