.l-first-view {
  background-image: url(../images/01_top_page/top-page-first-view.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;

  &__catch-copy {
    font-family: $catchCopyFont;
    font-size: 28px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0.05em;
    line-height: 1.36;
    position: absolute;
    top: 193px;
  }
}
