.p-office {
  margin-top: 40px;

  &__wrap {
    margin: 0 auto;
    width: 96%;
  }

  &__text {
    margin-top: 20px;
  }

  &__table {
    margin-top: 20px;
  }

  &__table + &__table {
    margin-top: 50px;
  }

  &__img {
    height: 300px;

    img {
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__list {
    margin-top: 20px;
  }

  &__item-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.74;
  }

  &__item:first-of-type {
    width: 42%;
  }

  &__item:nth-of-type(n + 2) {
    width: 38%;
  }

  &__item:last-of-type {
    width: 20%;
  }
}
