.p-pagination {
  margin: 30px auto 0;

  &__list {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  &__item {
    color: $grey;
    font-size: 22px;

    &:hover {
      color: $green;
    }

    &.is-active {
      color: $green;
    }
  }

  &__item + &__item {
    margin-left: 15px;
  }

  &__item--arrow {
    font-size: 14px;
  }
}
